<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
	
	<title>Login</title>
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
	
</head>
<body>
	<div class="container-fluid text-center">
		<th:block sec:authorize="isAuthenticated()">	
		<form th:action="@{/logout}" method="post" th:hidden="true" name="logoutForm">
			<input type="submit" value="Logout" />
		</form>
		</th:block>
		<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
			<!-- LOGO -->
			<a class="navbar-brand" th:href="@{/}"><h2>Hai Toko</h2></a>
				
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navLink">
				<span class="navbar-toggler-icon"></span>
			</button>
				
			<!-- Nav-Link -->
			<div class="collapse navbar-collapse" id="navLink">
				<ul class="navbar-nav">
					
					<th:block sec:authorize="!isAuthenticated()">
						<li class="nav-item">
							<a class="nav-link" th:href="@{/login}">Login</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" th:href="@{/register}">Register</a>
						</li>
					</th:block>
					
		
					<th:block sec:authorize="isAuthenticated()">
						
						<li class="nav-item">
							<a class="nav-link" href="">Orders</a>
						</li>
						
						<li class="nav-item">
							<a class="nav-link" href="">Cart</a>
						</li>
						
						<li class="nav-item">
							<a class="nav-link" th:href="@{/}">Delivery</a>
						</li>
			
						<li>
							<span class="fas fa-user fa-2x" style="color:white"></span>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" data-toggle="dropdown" sec:authentication="principal.name" th:href="@{/account_details}"></a>
							<div class="dropdown-menu">
								<a class="dropdown-item" href="javascript: document.logoutForm.submit()" id="logoutId">Logout</a>
							</div>
						</li>
						
						<li "nav-item">
							<a class="nav-link" id="weather"></a>
						</li>		
	
					</th:block>	
				
				</ul>
			</div>
		</nav>
		<div>
			<h2>Customer Login</h2>
		</div>
	
		<form th:action="@{/login}" method="post" style="max-width: 400px; margin: 0 auto">
			<div th:if="${param.error}">
				<p class="text-danger">[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</p>
			</div>
			<div th:if="${param.logout}">
				<p class="text-warning">Logged out</p>
			</div>
			
			<div class="border border-secondary rounded p-3">
				<p>
					<input type="email" name="email" class="form-control" placeholder="E-mail" required />
				</p>
				<p>
					<input type="password" name="password" class="form-control" placeholder="Password" required />
				</p>
				<p>
					<input type="checkbox" name="remember-me" />&nbsp;Remember Me
				</p>
				<p>
					<input type="submit" value="Login" class="btn btn-primary" />
				</p>			
			</div>
		</form>

		<!--Footer-->
		<div>
			<p>Copyright &copy; 2022 by HaiToko</p> 		
		</div>
		
	</div>
	
</body>
</html>